<html>
    <head>
        <title>Django App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'Style.css' %}">
    </head>
    <style>
        .table {
        display: table;
        width: 100%;
        }
        .table-row {
            display: table-row;
        }
        .table-cell {
            display: table-cell;
            padding: 10px;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }
        .Head {
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
    <body>
        <h1 class="Head">Welcome Page of My Django Application</h1>
        <img src="{% static 'pic.png' %}" alt="Image">

        <h2>All Posts</h2>
        <form method="get" action="">
            <label form="tag">Filter by Tag:</label>
            <select name="tag" id="tag">
                <option value="">--All Tags--</option>
                {% for tag in tags %}
                    <option value="{{ tag.name }}" {% if tag.name == tag_filter %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
        <ul>
            {% for post in posts %}
                <li>
                    <div class="post-card">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                        <p>Tags: {{ post.tags.all|join:", " }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </body>
</html>
